@import './button.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;

  background: #0c002b;
  color: #212121;
  line-height: 1.5;
}

.header {
  height: 80px;
}

.back-link {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}

.gallery-link {
  padding: 10px;
  font-size: 16px;
  width: 100px;
}

#vimeo-player {
  margin-left: 20px;
}

iframe {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
